body {
  padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}

.form-signin {
  max-width: 330px;
  margin: 0 auto;
}

.footer {
  text-align: center;
  font-size: 0.87em;
  color: #ccc;
}
